@import "../../styles/helpers.scss";

.purchaseLinks {
  border-radius: 15px;
  margin-top: 20px;

  @media #{media()} {
  margin-top: 24px;
  background: color(greyBg);
  }
}

.top {
  @media #{media()} {
    padding: 24px;
  }
}

.status {
  @include p-medium;
}

.info {
  display: flex;
  margin-top: 8px;
  @include p-small;
  font-weight: 500;

  @media #{media('<')} {
    font-size: 10px;
    align-items: center;
    margin-top: 4px;
  }

  svg {
    margin-right: 12px;
    @media #{media('<')} {
      margin-right: 8px;
      width: 14px;
      height: 14px;
    }
  }
}

.date {
  padding-right: 10px;
  margin-right: 8px;
  position: relative;
  display: flex;
  align-items: center;

  @media #{media()} {
    padding-right: 14px;
    margin-right: 12px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 11px;
    width: 2px;
    background: color(greyBorder);
  }
}

.items {
  @media #{media('<')} {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    padding: 12px 16px;
    background: color(greyBg);
    border-radius: 8px;
  }
}

.item {
  @include p-medium;
  cursor: pointer;

  @media #{media()} {
    padding: 16px 20px 16px 25px;
    border-bottom: 1px solid color(greyBorder);
    &:first-child {
      border-top: 1px solid color(greyBorder);
    }
  }

  &.active {
    color: color(red);

    @media #{media()} {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: color(red);
      }
    }
  }
}

.bottom {
  padding: 24px;

  @media #{media()} {
    display: none;
  }

  button {
    width: 100%;
  }
}
