@import "/src/styles/helpers.scss";

.header {
  padding: 16px 0;
  border-bottom: 1px solid color(greyBorder);

  &.bottom {
    border-bottom: none;
    border-top: 1px solid color(greyBorder);

    @media #{media("<")} {
      .headerContainer {
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .headerButton {
        display: flex;
        margin: -40px 0 0;
      }
      .burger {
        display: none;
      }
    }
    @media #{media("<", m)} {
      .headerContainer {
        flex-direction: column;
      }
      .headerButton {
        margin: 0;
      }
    }
  }
}

.headerContainer {
  display: flex;
  align-items: center;

  @media #{media("<")} {
    justify-content: space-between;
  }

  .logo {
    @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 4);
    }

    svg {
      @media #{media("<")} {
        width: 95px;
      }
    }
  }
}

.headerButton {
  margin: 0 0 0 auto;

  @media #{media("<")} {
    display: none;
  }
}

.burger {
  width: 24px;
  height: 24px;

  @media #{media()} {
    display: none;
  }
}
