@import "../../styles/helpers.scss";

.page2col {

  padding-bottom: 40px;

  @media #{media()} {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}

.col {
  &:nth-child(1) {
    width: calc(#{$col-part-d} * 2 + #{$col-width-d});
    @media #{media('<')} {
      display: none;
    }
  }
  &:nth-child(2) {
    @media #{media()} {
      width: calc(#{$col-part-d} * 7 + #{$col-width-d});
    }
  }
}

.docsAbout {
  margin: 8px 0 24px;
  @include p-medium;
  font-weight: 400;

  @media #{media()} {
    margin: 24px 0 50px;
  }
}
