@import "../../styles/helpers.scss";

.page2col {
  display: flex;
  justify-content: space-between;

  padding-bottom: 100px;
}

.col {
  &:nth-child(1) {
    width: calc(#{$col-part-d} * 2 + #{$col-width-d});
  }
  &:nth-child(2) {
    width: calc(#{$col-part-d} * 7 + #{$col-width-d});
  }
}