@import "/src/styles/helpers.scss";

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px -20px 0;
  padding: 0 20px;

  overflow-x: scroll;
  @include scrollbar-hidden;

  @media #{media()} {
    margin: 24px 0 0;
    padding: 0;
  }

  & * {
    flex: none;
  }

  a {
    transition: $transition;

    &:hover {
      color: color(blackBtnHover);
    }
  }
}

.item {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  &:not(a) {
    opacity: 0.5;
  }
}

.ttl {
  @include h1;
  margin-top: 8px;

  @media #{media()} {
    margin-top: 24px;
  }
}
