@import "/src/styles/helpers.scss";

$padding-left: 40px;
$padding-right: 70px;

.top {
  display: flex;
  padding: 0 $padding-right 24px $padding-left;

  @media #{media('<')} {
    display: none;
  }
}

.col {

  @include p-small;
  font-weight: 500;
  color: color(greyTxt);

  &:nth-child(1) {
    width: calc(#{$col-part-d} * 6 - #{$padding-left});
  }
  &:nth-child(2) {
    width: calc(#{$col-part-d} * 3);

  }
  &:nth-child(3) {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d} - #{$padding-right});
  }
}

.btn {
  margin: 32px auto 0;
}

.PurchaseListTop {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  @include p-medium;

  @media #{media()} {
    padding: 50px 0;
  }
}

.txt {
  color: color(greyTxt2);
}

.pages {
  display: flex;
  align-items: center;

  .txt {
    margin-right: 8px;

    @media #{media()} {
      margin-right: 12px;
    }
  }
}

.num {
  font-weight: 500;
  color: color(black);
  cursor: pointer;
  transition: $transition;

  &.active {
    color: color(red);
  }

  &:hover {
    color: color(red);
  }

  &:not(:last-child) {
    margin-right: 4px;
    @media #{media()} {
      margin-right: 8px;
    }
  }
}

