@import "/src/styles/helpers.scss";

.firstScreen {
  background: linear-gradient(266.85deg, #FBECCF 6.46%, #F1C87A 146.03%);
  padding: 32px 0 148px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
}

.col {
  &:nth-child(1) {
    width: calc(#{$col-part-d} * 6);
  }
  &:nth-child(2) {
    width: calc(#{$col-part-d} * 4 + #{$col-width-d});

    display: flex;
    align-items: flex-end;
  }
}

.ttl {
  @include h1-big;
}

.txt {
  @include p-big;
  margin-top: 24px;
}

.list {
  li {
    @include p-small;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    svg {
      margin-right: 11px;
    }
  }
}
