@import "/src/styles/helpers.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  white-space: nowrap;
  cursor: pointer;

  border-radius: 12px;
  padding: 12px 40px;

  @include p-medium;

  svg {
    margin-right: 8px;
  }
}

.grey {
  background: color(greyBg);
}
