@import "/src/styles/helpers.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  white-space: nowrap;
  cursor: pointer;

  border: none;
  border-radius: 8px;
  padding: 11px 22px;
  height: auto;

  @include p-medium;
  color: color(black);

  transition: $transition;

  @media #{media()} {
    padding: 12px 40px;
    border-radius: 12px;
  }

  svg {
    margin-right: 8px;
    flex: none;
  }
}

.grey {
  background: color(greyBg);

  svg path {
    transition: $transition;
  }

  &:hover {
    color: color(blackBtnHover);

    svg path {
      fill: color(blackBtnHover);
    }
  }
}

.black {
  background: color(black);
  color: #fff;
  
  &:hover {
    background: color(blackBtnHover);
  }
}

.red {
  background: color(red);
  color: #fff;

  &:hover {
    background: color(redBtnHover);
  }

  &:focus {
    background: color(red);
  }
}

.arrowDown {
  border: 1px solid color(greyBorder2);
  padding: 8px 40px;

  svg {
    margin-left: 8px;
    margin-right: 0;

    @media #{media()} {
      margin-left: 12px;
      margin-right: 0;
      height: auto;
      width: 15px;
    }
  }
}
