.button {
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border: 1px solid black;
  white-space: nowrap;
  cursor: pointer;

  &.active,
  &:hover {
    .text {
      color: blue;
    }
  }
}

.text {
  font-size: 32px;
  color: red;
}
