@import "/src/styles/helpers.scss";

.block {
  margin-top: 20px;

  @media #{media()} {
    margin-top: 60px;
  }
}

.ttl {
  @include h4;
}

.form {
  margin-top: 20px;
  @media #{media()} {
    margin-top: 32px;
  }
}

.label {
  width: 100%;
  margin-bottom: 8px;
  @media #{media()} {
    margin-bottom: 12px;
  }
}

.bottom {
  flex-direction: column;
}

.col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media #{media('<')} {
    flex-direction: column;

    button {
      width: fit-content;
    }
  }
}

.col2 {
  margin-top: 20px;
}

.note {
  @media #{media()} {
    width: calc(#{$col-part-d} * 4 + #{$col-width-d});
  }
}
