@import "/src/styles/helpers.scss";

.headerNav {
  margin: 0 auto 0 65px;
  display: flex;

  @media #{media("<")} {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: $transition;

  @include p-medium;

  &:not(:last-child) {
    margin-right: 32px;
  }

  &:hover {
    color: color(red);

    svg path {
      fill: color(red);
    }
  }

  svg {
    margin-left: 10px;

    path {
      transition: $transition;
    }
  }
}
