a:hover {
  color: #40a9ff;
}
a:active {
  color: #096dd9;
}
.ant-input:hover {
  border-color: #E7E7E7;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #414141 !important;
}
.ant-checkbox-wrapper-checked:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner, .ant-checkbox-wrapper-checked .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: color(red) !important;
}
.ant-btn:hover,
.ant-btn:focus {
  border-color: unset;
  background: #F3F3F3;
}
.ant-checkbox-checked::after {
  border-color: color(red);
}
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: color(black);
}
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: color(black);
}
.ant-input:focus, .ant-input-focused {
  box-shadow: none;
  border-color: #B8B8B8;
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background: #FBF2F2;
  border-color: #E7B5B5;
}
