@import "/src/styles/helpers.scss";
@import "/src/styles/and-disabled-styles.scss";

// селекты в фильтрах поиска

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid color(greyBorder2);
  border-radius: 12px;
  padding: 16px;
  height: 56px;

  display: flex;
  align-items: center;

  @media #{media('<')} {
    padding: 11px 16px;
    height: 40px;
  }

  .ant-select-selection-placeholder {
    color: color(black);
    @include p-medium;
  }
}

.ant-select-arrow {
  right: 16px;
  transition: $transition;
}

.ant-select-open .ant-select-arrow {
  transform: rotate(180deg);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: color(greyBorder2);
  box-shadow: none;
}

.ant-select-dropdown {
  padding: 0;
  border-radius: 12px;
}

.ant-select-item {
  padding: 10px 16px;
  @include p-small;

  &:not(:last-child) {
    border-bottom: 1px solid color(greyBorder);
  }
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: #fff;
}

.ant-select-selection-item {
  @include p-medium;
}

// календарь в фильтрах поиска

.ant-picker-panel-container {
  border-radius: 12px;
}

.ant-picker-header {
  border-bottom: none;
  padding-top: 16px;
}

.ant-picker-header-view {
  @include p-small;

  button {
    text-transform: uppercase;
    line-height: inherit;
  }
}

.ant-picker-content th {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: color(greyTxt);
  text-transform: uppercase;
}

.ant-picker-header-super-prev-btn, .ant-picker-header-super-next-btn {
  display: none;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: color(red);
  border-radius: 8px;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid color(red);
}

.ant-picker-suffix {
  @media #{media('<')} {
    width: 14px;
  }
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before, .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before, .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: color(greyBorder);
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(.ant-picker-cell-range-end) .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(.ant-picker-cell-range-start) .ant-picker-cell-inner {
  border-radius: 8px;
}

// мобильное меню

.ant-menu {
  font-weight: 500;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item {
  height: 20px;
  padding-left: 32px !important;
}

.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
  flex: none;
}

.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow {
  position: static;
  margin-left: 9px;
}

// чекбокс

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: color(blackBtnHover);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: color(red);
  border-color: color(red);
}

.ant-checkbox-inner {
  border: 2px solid color(black);
  border-radius: 4px;
  width: 18px;
  height: 18px;
}

.ant-form-item-explain-error {
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: color(redDark);
}
.ant-upload-list-item {
  width: fit-content;
}
.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: transparent;
}
.ant-upload-list-item-card-actions-btn {
  opacity: 1;
  display: flex;
  align-items: center;
}
.ant-upload-list-item-card-actions {
  .ant-btn:hover, .ant-btn:focus {
    border-color: transparent;
    background: none;
  }
}
.ant-upload-text-icon {
  display: none;
}
.ant-upload-list-text .ant-upload-list-item-name {
  padding-left: 0;
}
.ant-picker:hover, .ant-picker-focused {
  box-shadow: none;
  border-color: #E7E7E7;
}
.ant-picker-active-bar {
  opacity: 0 !important;
}
.ant-picker-panel-container .ant-picker-panels {
  @media #{media('<')} {
    flex-direction: column;
  }
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-left: 0;

  .ant-collapse-extra {
    margin-left: 0;
  }
}
.ant-collapse-header-text {
  order: 1;
}
.ant-collapse-expand-icon {
  margin-right: 5px;

  svg, svg path {
    transition: $transition;
  }
}
.ant-collapse-item-active > .ant-collapse-header > .ant-collapse-expand-icon svg {
  transform: rotate(180deg);

  path {
    fill: color(red);
  }
}