$colors: (
  red: #ED0E00,
  redDark: #AD0000,
  redBg: #FBF2F2,
  redBorder: #E7B5B5,
  black: #121212,
  greyBorder: #E7E7E7,
  greyBorder2: #D0D0D0,
  greyBorder3: #B8B8B8,
  greyBg: #F3F3F3,
  greyBg2: #FAFAFA,
  greyTxt: #888888,
  greyTxt2: #717171,

  blackBtnHover: #414141,
  redBtnHover: #F2564C,
);

@function color($key) {
  @return map.get($colors, $key);
}
