@import "/src/styles/helpers.scss";

.top {
  display: flex;
  margin-top: 30px;
  @include p-medium;

  @media #{media('<')} {
    justify-content: space-between;
    margin-top: 20px;
  }

  .col {
    &:first-child {
      @media #{media('<')} {
        margin-right: 20px;
      }
      @media #{media()} {
        width: calc(#{$col-part-d} * 2);
      }
    }
  }

  .ttl {
    color: color(greyTxt2);
    margin-bottom: 8px;
  }
}

.block {
  margin: 20px 0;
  @media #{media()} {
    margin: 60px 0;
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .ttl {
    @include h4;
    margin-bottom: 4px;
    @media #{media()} {
      margin-bottom: 16px;
    }
  }

  .txt {
    @include p-medium;
    font-weight: 400;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media #{media('<')} {
    flex-direction: column;
  }

  & > .ttl {
    width: 100%;
  }

  .col {
    @media #{media('<')} {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media #{media()} {
      width: 50%;
    }

    .ttl2 {
      @include h6-big;
      margin-bottom: 10px;

      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
}

.table {

  &Row {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid color(greyBorder);
  }

  .code {
    width: calc(#{$col-part-d} * 2);
    font-size: 14px;
    line-height: 22px;
    @media #{media('<')} {
      width: calc(#{$col-part-m});
      font-size: 10px;
      line-height: 1.8;
    }
  }

  .txt {
    width: calc(#{$col-part-d} * 5 + #{$col-width-d});
    @media #{media('<')} {
      width: calc(#{$col-part-m} * 2 + #{$col-width-m});
    }
  }

  &Btn {
    margin-top: 32px;
    @media #{media('<')} {
      margin-top: 12px;
      width: 100%;
    }
  }
}

.markup {
  p, ul {
    margin: 10px 0;

    @media #{media()} {
      margin: 20px 0;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: $col-gap-m;
    @media #{media()} {
      padding-left: $col-gap-d;
    }
  }
  .listNum {
    list-style: decimal;
  }
  .listDot {
    list-style: disc;
  }
}
