@import "../../styles/helpers.scss";

.bg {
  background: url('../../assets/images/purchase-banner-mob.png') no-repeat center;
  background-size: cover;
  height: 350px;

  padding: 20px;

  @media #{media('<')} {
    margin-left: -20px;
    margin-right: -20px;
  }
  @media #{media()} {
    background: url('../../assets/images/purchase-banner.png') no-repeat center;
    background-size: cover;
    border-radius: 20px;
    padding: 32px;
  }
}

.txt {
  @include h4;

  a {
    color: color(red);
  }
}
