@import "/src/styles/helpers.scss";

.Search {
  position: relative;
  z-index: 1;
}

.main {
  margin: -32px 0 20px 0;

  @media #{media()} {
    margin: -88px 0 60px 0;
  }
}
.onPage {
  margin: 32px 0 20px;

  @media #{media()} {
    margin: 60px 0 32px;
  }
}

.buttons {
  display: flex;
}

.label {
  background: color(greyBg);
  border-radius: 12px 12px 0px 0px;
  padding: 7px 20px;
  @include p-medium;
  color: color(black);
  text-align: center;
  cursor: pointer;
  transition: $transition;

  @media #{media('<', m)} {
    width: 50%;
  }
  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    min-width: calc(#{$col-part-t} + #{$col-width-t});
  }
  @media #{media()} {
    border-radius: 15px 15px 0px 0px;
    padding: 16px 40px;
  }

  &.active {
    background: #fff;
    filter: drop-shadow(0px -25px 24px rgba(0, 0, 0, 0.06));
    position: relative;
    z-index: 2;
  }

  &:not(.active):hover {
    color: color(blackBtnHover);
  }
}

.row {
  padding: 32px;
  background: #fff;
  // box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0px -10px 24px rgba(0, 0, 0, 0.04), 0px 20px 24px rgba(0, 0, 0, 0.04);
  border-radius: 0px 15px 15px 15px;

  position: relative;
  z-index: 1;

  @media #{media("<")} {
    padding: 12px;
  }
}

.inner {
  display: flex;
  
  @media #{media("<", m)} {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.input {
  width: 100%;
  background: color(greyBg2);
  padding: 11px 16px;
  border: 1px solid color(greyBorder);
  border-radius: 12px;
  @include p-medium;
  color: color(greyTxt2);
  flex: none;

  @media #{media()} {
    width: calc(#{$col-part-d} * 6 + (#{$col-width-d} / 2));
    padding: 16px;
  }
  @media #{media('>', m)} {
    width: calc(#{$col-part-t} * 4);
  }
}

.button {
  width: calc(50% - 5px);
  @media #{media('<')} {
    padding: 11px;
    svg {
      width: 16px;
    }
  }
  @media #{media('>', m)} {
  width: 100%;
  margin-left: 12px;
  }
}

.filters {
  padding-top: 20px;

  display: grid;
  justify-content: space-between;
  align-items: end;

  grid-template-columns: 1fr;
  row-gap: 16px;

  @media #{media('>', m)} {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 20px;
  }
  @media #{media()} {
    padding-top: 32px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 20px;
  }

  button {
    width: 100%;
  }
}

.name {
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  @include p-medium;
  font-weight: 400;
  color: color(greyTxt2);

  @media #{media('<')} {
    margin-bottom: 8px;
  }

  svg {
    margin-left: 8px;

    @media #{media('<')} {
      width: 16px;
      height: 16px;
      margin-left: 4px;
    }
  }
}

.select {
  width: 100%;
}

.datepicker {
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #E7E7E7;
  border-radius: 12px;
  height: 56px;
  padding: 16px;

  @media #{media('<')} {
    padding: 11px 16px;
    height: 40px;
  }
}
