@import "/src/styles/helpers.scss";

.block {
  @include h4;
  color: color(greyTxt);
  margin: 20px 0 40px;

  @media #{media()} {
    margin: 32px 0 210px;
  }

  span {
    color: color(black);
  }
}
