@import "/src/styles/helpers.scss";

.modalsContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;

  &.active {
    background: rgba(18, 18, 18, .23);
    pointer-events: all;
  }
}

.askModal {
  width: calc(100% - 40px);
  height: fit-content;
  padding: 20px 20px 27px;
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 16px;
  bottom: 16px;
  overflow-y: scroll;

  @media #{media()} {
    width: calc(#{$col-part-d} * 5 + #{$col-width-d});
    top: 32px;
    bottom: 32px;
    padding: 40px calc(#{$col-width-d});
  }

  .ttl {
    @include h4;
    text-align: center;
    margin-bottom: 40px;
  }
}

.smallModal {
  width: calc(100% - 40px);
  min-height: 232px;
  background: #FFFFFF;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media #{media()} {
    width: calc(#{$col-part-d} * 5 + #{$col-width-d});
    min-height: 390px;
    padding: 40px calc(#{$col-width-d});
  }

  .ttl {
    @include h4;
    text-align: center;
    margin-bottom: 8px;

    @media #{media()} {
      margin-bottom: 16px;
    }

    &.single {
      margin-bottom: 16px;

      @media #{media()} {
        margin-bottom: 24px;
      }
    }
  }
  .txt {
    @include p-medium;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
  }
}
