@import "/src/styles/helpers.scss";

.modalsContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;

  &.active {
    background: rgba(18, 18, 18, .23);
    pointer-events: all;
  }
}

.askModal {
  width: calc(#{$col-part-d} * 5 + #{$col-width-d});
  height: fit-content;
  padding: 40px calc(#{$col-width-d});
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 32px;
  bottom: 32px;
  overflow-y: scroll;

  .ttl {
    @include h4;
    text-align: center;
    margin-bottom: 40px;
  }
}
