@import "/src/styles/helpers.scss";

.modalsContainer {
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
  @include scrollbar-hidden;

  &.active {
    background: rgba(18, 18, 18, .23);
    pointer-events: all;
  }
}

.askModal {
  width: calc(100% - 40px);
  height: fit-content;
  padding: 20px 20px 27px;
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 16px;
  bottom: 16px;

  overflow-y: scroll;
  @include scrollbar-hidden;

  @media #{media()} {
    width: calc(#{$col-part-d} * 5 + #{$col-width-d});
    top: 32px;
    bottom: 32px;
    padding: 40px calc(#{$col-width-d});
  }

  .ttl {
    @include h4;
    text-align: center;
    margin-bottom: 40px;
  }
}

.smallModal {
  width: calc(100% - 40px);
  min-height: 232px;
  background: #FFFFFF;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media #{media()} {
    width: calc(#{$col-part-d} * 5 + #{$col-width-d});
    min-height: 390px;
    padding: 40px calc(#{$col-width-d});
  }

  .ttl {
    @include h4;
    text-align: center;
    margin-bottom: 8px;

    @media #{media()} {
      margin-bottom: 16px;
    }

    &.single {
      margin-bottom: 16px;

      @media #{media()} {
        margin-bottom: 24px;
      }
    }
  }
  .txt {
    @include p-medium;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
  }
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 40px;
  height: 40px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after, &::before {
    content: '';
    position: absolute;

    width: 25px;
    height: 2px;
    background: color(black);
    border-radius: 2px;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

.classifier {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  max-height: 100vh;

  @media #{media('<')} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media #{media()} {
    width: 850px;
    height: fit-content;
    border-radius: 15px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @media #{media('<')} {
      padding: 12px 20px;
      margin-bottom: 10px;
      border: 1px solid color(greyBorder);
    }
  }
  .ttl {
    @include h4;
    margin-bottom: 0;
  }
  .close {
    position: relative;
    height: 32px;
    width: 32px;
    top: 0;
    right: 0;
  }
  .main {
    @media #{media()} {
      padding: 32px;
    }
  }
  .search {
    width: 100%;
    margin-top: 12px;
    background: #FAFAFA;
    border: 1px solid color(greyBorder);
    border-radius: 12px;
    padding: 11px 16px;
    @include p-medium;
    font-weight: 400;

    @media #{media()} {
      margin-top: 32px;
      padding: 16px;
    }
  }
  .list {
    margin-top: 20px;
    overflow-y: scroll;
    @include styled-scrollbar;

    @media #{media('<')} {
      padding: 0 20px;
      max-height: 70vh;
    }
    @media #{media()} {
      height: 468px;
    }

    svg, .checkbox {
      margin-right: 16px;
    }
  }
  .row {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 32px;
    border: 1px solid color(greyBorder);

    @media #{media('<')} {
      padding: 10px 20px;
    }
  }
  .count {
    font-weight: 700;
    font-size: 10px;
    line-height: 20px;

    @media #{media()} {
      font-size: 16px;
    }
  }
  .buttons {
    display: flex;

    button:not(:last-child) {
      margin-right: 12px;
    }
  }
}
