@import "../../styles/helpers.scss";

.card {
  border: 1px solid color(greyBorder);
  border-radius: 15px;
  padding: 24px 30px;

  display: flex;
  justify-content: space-between;

  transition: $transition;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    background: color(greyBg);
  }

  @media #{media('<')} {
    flex-direction: column;
    padding: 16px 20px;
  }
}

.col {
  display: flex;
  flex-direction: column;

  @media #{media()} {
    align-items: flex-end;
  }
}

.txt {
  @include p-small;

  @media #{media()} {
    width: calc(#{$col-part-d} * 6)
  }
}

.date {
  @include p-small;
  font-weight: 500;
  color: color(greyTxt2);

  @media #{media('<')} {
    margin-bottom: 4px;
  }
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  cursor: pointer;

  width: 40px;
  height: 40px;

  border-radius: 12px;
  border: 1px solid color(greyBorder2);

  @media #{media('<')} {
    margin-top: 12px;
  }
}
