@import "/src/styles/helpers.scss";

.TermsBlock {
  margin: 40px 0;

  @media #{media()} {
    margin: 100px 0;
    padding-left: 110px;
  }
}

.ttl {
  @include h1;
}

.btn {
  margin-top: 16px;
  @media #{media()} {
    margin-top: 40px;
  }
}
