@import "/src/styles/fonts.scss";
@import "/src/styles/helpers.scss";
@import 'antd/dist/antd.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: color(black);
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  outline: none;
}

button {
  color: color(black);
}

body {
  overflow-x: hidden;

  font-family: 'Golos';
  font-weight: 400;
  color: color(black);

  a {
    color: color(black);

    &:hover {
      color: color(black);
    }
  }
}

#root {
  width: 100vw;
  min-height: 100vh;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid color(greyBorder2);
  border-radius: 12px;
  padding: 16px;
  height: 56px;

  display: flex;
  align-items: center;

  .ant-select-selection-placeholder {
    color: color(black);
  }
}
